<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.nt.tracker.mapper.FoodMapper">
    <select id="foodQuery" resultType="com.nt.tracker.domain.vo.FoodVO">
        select  * from food
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by id asc
    </select>

    <insert id="addIntake">
        INSERT INTO food_intake (
            user_id,
            food_id,
            intake_date,
            weight,
            meal_type
        )
        VALUES (
                   #{userId},
                   #{intakeInfo.foodId},
                   NOW(),
                   #{intakeInfo.weight},
                   #{intakeInfo.mealType}
               )
    </insert>
    <select id="getIntakesByIdAndDate" resultType="com.nt.tracker.domain.po.IntakePO">
        SELECT
            fi.food_id,
            fi.meal_type,
            fi.weight,
            f.calories_per_100g,
            f.protein_per_100g,
            f.fat_per_100g,
            f.carbs_per_100g
        FROM
            food_intake fi
                JOIN
            food f ON fi.food_id = f.id
        WHERE
            fi.user_id = #{userId}
          AND fi.intake_date = #{date}
    </select>

    <select id="getMealFoods" resultType="com.nt.tracker.domain.po.MealFood" parameterType="map">
        SELECT
            f.name,
            fi.weight,
            f.calories_per_100g,
            f.protein_per_100g,
            f.fat_per_100g,
            f.carbs_per_100g
        FROM food_intake fi
                 INNER JOIN food f ON fi.food_id = f.id
        WHERE fi.user_id = #{userId}
          AND fi.meal_type = #{mealType}
          AND fi.intake_date = #{date}
    </select>


</mapper>